REDIS_HOST=localhost
REDIS_PORT=6379
USER_SERVICE_URL=http://localhost:8082
PRODUCT_SERVICE_URL=http://localhost:8080
INVENTORY_SERVICE_URL=http://localhost:8081
SERVER_PORT=8083
CART_TTL=30d
CART_MAXIMUM_QUANTITY=99
